# Neural Network For Titanic

## Load the data

Load the data from the other proejct into memory by using the pandas library.

In [1]:
import os
from pathlib import Path
import pandas as pd
import numpy as np

the_path = Path(os.getcwd())
the_path = the_path.parents[1];
# t_data = pd.read_csv("..\..\Python_Cleaner\titanic_numerical_clean._With_Headers.csv")
# t_data.head()
the_path = the_path / 'Python_Cleaner' / 'titanic_numerical_clean._With_Headers.csv'
data = pd.read_csv(the_path, sep=",", header=0)
data.head()

,Unnamed: 0,Age,sibsp,parch,fare,female,Col,Don,Dona,Dr,...,Mrs,Ms,Rev,Sir,the Countess,Q,S,class-2,class-3,survived
0,0,29.00,0,0,211.3375,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0.92,1,2,151.5500,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,2,2.00,1,2,151.5500,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,3,30.00,1,2,151.5500,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,4,25.00,1,2,151.5500,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

## Remove unnamed:0 if present
This is a lefot over of index of the pandas export of the project Python_cleaner

In [2]:
if 'Unnamed: 0' in data.columns:
    del data['Unnamed: 0']
data.head()

,Age,sibsp,parch,fare,female,Col,Don,Dona,Dr,Jonkheer,...,Mrs,Ms,Rev,Sir,the Countess,Q,S,class-2,class-3,survived
0,29.00,0,0,211.3375,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,0.92,1,2,151.5500,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,2.00,1,2,151.5500,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,30.00,1,2,151.5500,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,25.00,1,2,151.5500,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [3]:
from sklearn.neural_network import MLPClassifier


y = data.pop('survived')
X = data

clf = MLPClassifier(solver='lbfgs', alpha=1e-5,
                    hidden_layer_sizes=(5, 2), random_state=1)

clf.fit(X, y)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 2), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [6]:
# check on training data
prediction = clf.predict(data)
comparison = (prediction == y)
Accuracy = np.sum(comparison) / len(comparison) 
Accuracy

0.6440030557677616