# Neural Network For Titanic

## Load the data

Load the data from the other proejct into memory by using the pandas library.

In [1]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import sklearn as skl
from tqdm import tqdm
the_path = Path(os.getcwd())
the_path = the_path.parents[1];
# t_data = pd.read_csv("..\..\Python_Cleaner\titanic_numerical_clean._With_Headers.csv")
# t_data.head()
the_path = the_path / 'Python_Cleaner' / 'titanic_numerical_clean._With_Headers.csv'
data = pd.read_csv(the_path, sep=",", header=0)
data = data.sample(frac=1) # reshuffle all the rows.
data.head()

,Unnamed: 0,Age,sibsp,parch,fare,female,Col,Don,Dona,Dr,...,Mrs,Ms,Rev,Sir,the Countess,Q,S,class-2,class-3,survived
47,47,42.0,0,0,26.2875,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
689,689,22.0,1,0,7.2500,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
397,397,54.0,0,0,26.0000,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
13,13,26.0,0,0,78.8500,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
303,303,64.0,1,0,75.2500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Remove unnamed:0 if present
This is a lefot over of index of the pandas export of the project Python_cleaner

In [2]:
if 'Unnamed: 0' in data.columns:
    del data['Unnamed: 0']
data.head()

y = data.pop('survived')
X = data

## Test for the best accuracy with 10-Fold CV (Without scaling)

Create the data samples.

In [24]:
from sklearn.neural_network import MLPClassifier
import numpy as np

from sklearn.model_selection import KFold

X_np_array = np.array(X)
y_np_array = np.array(y)

kf = KFold(n_splits=10)
#for each fold. train the model and get the accuracy.
features_len = len(X_np_array[0])


# from 1 to 5 hidden layers
# from features_len -5 to features_len +5
# calculate the accuracy across the 5_folds each.
def evaluate(x_input, y_input, solver_string, list_of_hidden_layers, list_of_neurons_num,scale = False,):
    pbar = tqdm(total=(len(list_of_hidden_layers)*len(list_of_neurons_num)))
    
    results = np.zeros([len(list_of_hidden_layers), len(list_of_neurons_num)]) 
    training_results = np.zeros([len(list_of_hidden_layers), len(list_of_neurons_num)]) 
    
    mean_Accuracy = 0
    mean_accuracy_training = 0
    for hidden_layers_num in list_of_hidden_layers:
        for neurons in list_of_neurons_num:
            hidden_layers = []
            for additional in range(1,hidden_layers_num+1):
                hidden_layers.append(neurons)
            hidden_layers= tuple(hidden_layers)
            for train, test in kf.split(x_input):
                X_train, X_test, y_train, y_test = x_input[train], x_input[test], y_input[train], y_input[test]
                clf = MLPClassifier(solver=solver_string, alpha=1e-3,
                                hidden_layer_sizes=hidden_layers, random_state=1, max_iter=200)
                
                if scale:
                    scaler = skl.preprocessing.StandardScaler().fit(X_train)
                    X_train = scaler.transform(X_train)
                    X_test = scaler.transform(X_test)
                clf.fit(X_train, y_train)
                # testi accuracy
                comparison = (clf.predict(X_test) == y_test)
                accuracy = np.sum(comparison) / len(comparison) 
                mean_Accuracy += accuracy
                # training accuracy
                cp2 =  (clf.predict(X_test) == y_test)
                accuracy = np.sum(cp2) / len(cp2) 
                mean_accuracy_training += accuracy
                
            results[hidden_layers_num-1][neurons-(list_of_neurons_num[0])] = mean_Accuracy / 10
            training_results[hidden_layers_num-1][neurons-(list_of_neurons_num[0])] = mean_Accuracy / 10
            
            mean_Accuracy = 0
            accuracy_training = 0
            mean_accuracy_training = 0
            pbar.update(1)
    pbar.close()
    return (results, training_results)

## Get accuracy based on the amount of layers and their size ( no scaling )

In [ ]:

ev1_result = evaluate(X_np_array,y_np_array,null)
            
ev1_result

## Get accuracy based on the amount of layers and their size ( with scaling)

Randomly choos XX based on YY

In [14]:

stuff = evaluate(X_np_array,y_np_array, 'sgd', list(range(1,6)), list(range(21,32) ,True)
            
stuff

  0%|          | 0/5 [00:00<?, ?it/s]
 20%|â–ˆâ–ˆ        | 1/5 [00:06<00:25,  6.34s/it]
 40%|â–ˆâ–ˆâ–ˆâ–ˆ      | 2/5 [00:16<00:22,  7.47s/it]
 60%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ    | 3/5 [00:32<00:20, 10.05s/it]
 80%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 4/5 [00:55<00:13, 13.92s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [01:33<00:00, 18.73s/it]

array([[0.80977099],
       [0.80672343],
       [0.79831474],
       [0.80596007],
       [0.80136817]])

In [15]:
stocastic_optimizer_Data = pd.DataFrame(stuff)
stocastic_optimizer_Data

stocastic_optimizer_Data

          0
0  0.809771
1  0.806723
2  0.798315
3  0.805960
4  0.801368

## Get accuracy from 1-2 layers from 1 to 20 size nodes.

This is to check if some better layer exists

In [17]:

result_1_2_layers = evaluate(X_np_array,y_np_array, 'sgd', list(range(1,3)), list(range(1,21)) ,True)
            
result_1_2_layers

  0%|          | 0/40 [00:00<?, ?it/s]
  2%|â–Ž         | 1/40 [00:06<04:05,  6.28s/it]
  5%|â–Œ         | 2/40 [00:13<04:05,  6.46s/it]
  8%|â–Š         | 3/40 [00:18<03:44,  6.06s/it]
 10%|â–ˆ         | 4/40 [00:23<03:27,  5.77s/it]
 12%|â–ˆâ–Ž        | 5/40 [00:30<03:31,  6.06s/it]
 15%|â–ˆâ–Œ        | 6/40 [00:36<03:27,  6.09s/it]
 18%|â–ˆâ–Š        | 7/40 [00:42<03:17,  5.99s/it]
 20%|â–ˆâ–ˆ        | 8/40 [00:46<02:53,  5.43s/it]
 22%|â–ˆâ–ˆâ–Ž       | 9/40 [00:50<02:37,  5.09s/it]
 25%|â–ˆâ–ˆâ–Œ       | 10/40 [00:56<02:38,  5.30s/it]
 28%|â–ˆâ–ˆâ–Š       | 11/40 [01:00<02:25,  5.03s/it]
 30%|â–ˆâ–ˆâ–ˆ       | 12/40 [01:08<02:42,  5.80s/it]
 32%|â–ˆâ–ˆâ–ˆâ–Ž      | 13/40 [01:13<02:33,  5.69s/it]
 35%|â–ˆâ–ˆâ–ˆâ–Œ      | 14/40 [01:19<02:26,  5.65s/it]
 38%|â–ˆâ–ˆâ–ˆâ–Š      | 15/40 [01:28<02:46,  6.65s/it]
 40%|â–ˆâ–ˆâ–ˆâ–ˆ      | 16/40 [01:32<02:24,  6.03s/it]
 42%|â–ˆâ–ˆâ–ˆâ–ˆâ–Ž     | 17/40 [01:37<02:12,  5.74s/it]
 45%|â–ˆâ–ˆâ–ˆâ–ˆâ–Œ     | 18/40 [01:43<02:06,  5.74s/it]
 48%|â–ˆâ–ˆâ–ˆâ–ˆâ–Š     | 19/40 [01:49<02:03,  5.87s/it]
 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 20/40 [01:55<01:56,  5.84s/it]
 52%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž    | 21/40 [01:58<01:31,  4.83s/it]
 55%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ    | 22/40 [02:11<02:11,  7.33s/it]
 57%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š    | 23/40 [02:25<02:38,  9.35s/it]
 60%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ    | 24/40 [02:36<02:37,  9.83s/it]
 62%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž   | 25/40 [02:43<02:17,  9.14s/it]
 65%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ   | 26/40 [02:53<02:11,  9.40s/it]
 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 27/40 [03:06<02:14, 10.32s/it]
 70%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ   | 28/40 [03:15<01:59,  9.95s/it]
 72%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 29/40 [03:26<01:55, 10.46s/it]
 75%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ  | 30/40 [03:37<01:43, 10.36s/it]
 78%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š  | 31/40 [03:49<01:37, 10.88s/it]
 80%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 32/40 [04:00<01:27, 10.91s/it]
 82%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž | 33/40 [04:10<01:14, 10.67s/it]
 85%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ | 34/40 [04:20<01:03, 10.63s/it]
 88%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š | 35/40 [04:31<00:52, 10.60s/it]
 90%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 36/40 [04:39<00:39,  9.76s/it]
 92%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž| 37/40 [04:50<00:30, 10.14s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 38/40 [05:00<00:20, 10.27s/it]
 98%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š| 39/40 [05:11<00:10, 10.40s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 40/40 [05:20<00:00,  8.00s/it]

array([[0.76929536, 0.79143864, 0.80977099, 0.78686436, 0.79906048,
        0.79983558, 0.80363476, 0.80747504, 0.80365238, 0.80442748,
        0.80748679, 0.80669407, 0.80516735, 0.80748092, 0.8082384 ,
        0.80976512, 0.80671169, 0.80823253, 0.80135643, 0.80671169],
       [0.61801527, 0.780734  , 0.79219612, 0.77311803, 0.79752789,
        0.80211979, 0.79908397, 0.8051791 , 0.79677041, 0.81206107,
        0.79908397, 0.80824427, 0.80519084, 0.8051791 , 0.80900176,
        0.80442161, 0.80061069, 0.80365238, 0.80440986, 0.80440986]])

In [23]:
_1_2_layers_Data = pd.DataFrame(result_1_2_layers) # 0.812 max
_1_2_layers_Data.round(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.769,0.791,0.810,0.787,0.799,0.800,0.804,0.807,0.804,0.804,0.807,0.807,0.805,0.807,0.808,0.810,0.807,0.808,0.801,0.807
1,0.618,0.781,0.792,0.773,0.798,0.802,0.799,0.805,0.797,0.812,0.799,0.808,0.805,0.805,0.809,0.804,0.801,0.804,0.804,0.804

## Learning curve

So it has been checke that 2 layers with 27 nodes behaves in the best way.
Let us check now the learning curve.

let us get also the training error.

In [25]:
from plotter import plot_learning_curve
 # source : https://scikit-learn.org/stable/auto_examples/model_selection/plot_learning_curve.html#sphx-glr-download-auto-examples-model-selection-plot-learning-curve-py
cv = ShuffleSplit(n_splits=10, test_size=0.2, random_state=0)
estimator = SVC(gamma=0.001)
plot_learning_curve(estimator, title, X, y, axes=axes[:, 1], ylim=(0.7, 1.01),
                    cv=cv, n_jobs=4)