# Neural Network For Titanic

## Load the data

Load the data from the other proejct into memory by using the pandas library.

In [16]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import sklearn as skl
from tqdm import tqdm
the_path = Path(os.getcwd())
the_path = the_path.parents[1];
# t_data = pd.read_csv("..\..\Python_Cleaner\titanic_numerical_clean._With_Headers.csv")
# t_data.head()
the_path = the_path / 'Python_Cleaner' / 'titanic_numerical_clean._With_Headers.csv'
data = pd.read_csv(the_path, sep=",", header=0)
data = data.sample(frac=1) # reshuffle all the rows.
data.head()

,Unnamed: 0,Age,sibsp,parch,fare,female,Col,Don,Dona,Dr,...,Mrs,Ms,Rev,Sir,the Countess,Q,S,class-2,class-3,survived
1226,1226,19.000000,0,0,7.8958,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1269,1269,33.000000,0,0,9.5000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1026,1026,27.000000,0,1,12.4750,1,0,0,0,0,...,1,0,0,0,0,0,1,0,1,1
898,898,19.000000,0,0,0.0000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1013,1013,29.881138,0,0,8.0500,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

## Remove unnamed:0 if present
This is a lefot over of index of the pandas export of the project Python_cleaner

In [17]:
if 'Unnamed: 0' in data.columns:
    del data['Unnamed: 0']
data.head()

y = data.pop('survived')
X = data

## Test for the best accuracy with 10-Fold CV (Without scaling)

Create the data samples.

In [31]:
from sklearn.neural_network import MLPClassifier
import numpy as np

from sklearn.model_selection import KFold

X_np_array = np.array(X)
y_np_array = np.array(y)

kf = KFold(n_splits=10)
#for each fold. train the model and get the accuracy.
features_len = len(X_np_array[0])


# from 1 to 5 hidden layers
# from features_len -5 to features_len +5
# calculate the accuracy across the 5_folds each.
def evaluate(x_input, y_input, solver_string, list_of_hidden_layers, list_of_neurons_num,scale = False,):
    pbar = tqdm(total=(len(list_of_hidden_layers)*len(list_of_neurons_num)))
    
    results = np.zeros([len(list_of_hidden_layers), len(list_of_neurons_num)]) 
    mean_Accuracy = 0
    for hidden_layers_num in list_of_hidden_layers:
        for neurons in list_of_neurons_num:
            hidden_layers = []
            for additional in range(1,hidden_layers_num+1):
                hidden_layers.append(neurons)
            hidden_layers= tuple(hidden_layers)
            for train, test in kf.split(x_input):
                X_train, X_test, y_train, y_test = x_input[train], x_input[test], y_input[train], y_input[test]
                clf = MLPClassifier(solver=solver_string, alpha=1e-3,
                                hidden_layer_sizes=hidden_layers, random_state=1, max_iter=1000)
                
                if scale:
                    scaler = skl.preprocessing.StandardScaler().fit(X_train)
                    X_train = scaler.transform(X_train)
                    X_test = scaler.transform(X_test)
                clf.fit(X_train, y_train)
                
                comparison = (clf.predict(X_test) == y_test)
                accuracy = np.sum(comparison) / len(comparison) 
                mean_Accuracy += accuracy

            results[hidden_layers_num-1][neurons-(list_of_neurons_num[0])] = mean_Accuracy / 10
            mean_Accuracy = 0
            pbar.update(1)
    pbar.close()
    return results

## Get accuracy based on the amount of layers and their size ( no scaling )

In [ ]:

ev1_result = evaluate(X_np_array,y_np_array,null)
            
ev1_result

## Get accuracy based on the amount of layers and their size ( with scaling)

Randomly choos XX based on YY

In [34]:

X_input =skl.preprocessing.scale(X)
stuff = evaluate(X_input,y_np_array, 'adam', list(range(1,6)), list(range(3,7)) ,True)
            
stuff

  0%|          | 0/20 [00:00<?, ?it/s]

NameError: name 'list_of_neurons' is not defined

In [25]:
stocastic_optimizer_Data = pd.DataFrame(stuff)
stocastic_optimizer_Data

,0,1,2,3,4,5,6,7,8,9,10
0,0.806723,0.803664,0.803676,0.807493,0.805972,0.806735,0.805966,0.805197,0.809025,0.806729,0.814363
1,0.807493,0.809025,0.805208,0.809777,0.807504,0.811304,0.802901,0.812090,0.811321,0.810558,0.812079
2,0.805191,0.809783,0.806729,0.807475,0.807475,0.809777,0.803664,0.816676,0.808262,0.810564,0.804451
3,0.808268,0.800622,0.812079,0.809794,0.805948,0.809789,0.805203,0.811315,0.802149,0.808256,0.804439
4,0.806729,0.797557,0.807499,0.810546,0.809783,0.805191,0.808256,0.802149,0.806735,0.807499,0.805966